<%= form_for(@user) do |f| %>

  <div class="field">
    <%= f.label "社員番号" %><br>
    <%= f.number_field :employee_id %>
  </div>

  <div class="field">
    <%= f.label "社員名"%><br>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label "パスワード" %><br>
    <%= f.text_field :password %>
  </div>

  <div class="field">
    <%= f.label "ユーザ権限"%><br>
    <%= f.number_field :auth %>
  </div>

<% end %>