<h1>Show Users!!</h1>

<table>
  <% @users.each do |user| %>
    <tr>
      <td><%=user.employee_id %></td>
      <td><%=user.name %></td>
      <td><%=user.auth %></td>
      <td><%=user.entry_date %></td>
      <td><%=user.retire_date %></td>
    </tr>
</table>