<%= form_for @event, :html => { :class => "form-horizontal" } do |f| %>

  <% if @event.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @event.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <div class="row">
      <%= f.label :title, :class => 'control-label col-lg-2' %>
      <div class="col-lg-10">
        <%= f.text_field :title, :class => 'form-control' %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="row">
      <%= f.label :start_time, :class => 'control-label col-lg-2' %>
      <div class="col-lg-3">
        <%= f.text_field :start_time, :class => 'form-control datetimepicker'%>
      </div>
      <%= f.label :end_time, :class => 'control-label col-lg-2' %>
      <div class="col-lg-3">
        <%= f.text_field :end_time, :class => 'form-control datetimepicker' %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="row">
      <%= f.label :place, :class => 'control-label col-lg-2' %>
      <div class="col-lg-10">
        <%= f.text_field :place, :class => 'form-control' %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="row">
      <%= f.label :description, :class => 'control-label col-lg-2' %>
      <div class="col-xs-10">
        <%= f.text_area :description, :class => 'form-control', :rows => "5" %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="row">
      <%= f.label :author_id, :class => 'control-label col-lg-2' %>
      <div class="col-lg-10">
        <%= f.text_field :author_id, :class => 'form-control' %>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="row">
      <div class="col-lg-offset-2 col-lg-10">
        <%= f.submit nil, :class => 'btn btn-primary' %>
        <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                events_path, :class => 'btn btn-default' %>
      </div>
    </div>
  </div>
<% end %>

<script type="text/javascript">
  $(function(){
      $('.datetimepicker').datetimepicker({
          format: 'YYYY-MM-DD HH:mm'
      });
  });
</script>